import { Link } from "react-router";

const Home = () => {
    return (
      <div className="content">
        <div>
          <div className="icon-container">
            <img
              src="https://avatars.githubusercontent.com/u/232932968"
              alt="Z Logo"
              width={200}
              height={200}
              className="logo-image"
            />
          </div>
          <h1 className="title capitalize">Welcome to "Home Page"</h1>
          <Link to="/about" className="link">Go to About</Link>
        </div>
      </div>
    );
  };
  
  export default Home;
  